.container {
  background-image: linear-gradient(
    var(--black),
    1%,
    var(--primary-color),
    70%,
    var(--tertiary-color) 85%
  );
  padding: 1rem;
  padding-left: 10%;
  padding-right: 10%;
  color: var(--white);
}

.contactBanner {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

/* .contactBanner > div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
} */

/* .quoteBtn {

} */

/* .contactLink {

} */

.logoNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
}

.logoNav > nav {
  margin-left: 5rem;
}

.logoNav > nav > ul {
  display: flex;
  gap: 1.5rem;
}

.logo {
  width: clamp(160px, 12rem, 238px);
}

@media screen and (max-width: 700px) {
  .contactBanner {
    flex-direction: column;
  }
}
