/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
        font-size: 0.9em;
    }

    h1 {
        @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
    }
}

a {
    @apply underline
}

.markdown {
    @apply mb-1;
}

.alert .markdown {
    @apply mb-0;
}

.markdown p {
    @apply mb-3;
}

.btn:disabled {
    @apply text-neutral-400 bg-neutral-700;
} */

/* globals.css */

:root {
    --primary-color: #26933A;
    --secondary-color: #CA1F3D;
    --tertiary-color: #1D74AA;
    --white: #FEF7F7;
    --black: #0A0A0A;
    --trans-black: #0A0A0AB0;
     background-color: var(--white);
    
    }
    
    .tintBg {
      background-color: #0A0A0AB0;
      background-blend-mode: multiply;
    }
    
    strong{
      font-weight:bold;
     }
    
     em {font-style: italic;}
    
    /* Reset default browser styles */
    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
      }
      
      /* Remove list styles */
      ul,
      ol {
        list-style: none;
      }
      
      /* Remove margin from headings */
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
        font-family: 'Inter', sans-serif;
      }
    
      h1 {
        font-size: 4.1875rem;
      }
      h2 {
        font-size: 3.15625rem;
      }
      h3 {
        font-size: 2.375rem;
      }
      h4 {
        font-size: 1.78125rem;
      }
      h5 {
        font-size: 1.3125rem;
      }
      h6 {
        font-size: 1.3125rem;
        font-weight: bold;
      }
      p {
        font-size: 1rem;
        font-family: 'Inter', sans-serif;
      }
      
      /* Remove default browser styles from tables */
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }
      
      /* Remove default browser styles from images */
      img {
        max-width: 100%;
        height: auto;
      }
      
      /* Remove default browser styles from links */
      a {
        text-decoration: none;
        color: inherit;
      }
    
      a:hover {
        text-decoration: underline;
      }
      
      /* Remove default browser styles from forms */
      button,
      input,
      textarea,
      select {
        margin: 0;
      }